<div class="topbar-container">
        <div class="topbar">
            <header>Gujarat Police</header>
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
        </div>

    </div>

    <div class="sidebar">
        <nav id="navbar">
            <header>Gujarat Police </header>
            <ul id="nav-item" class="sidenav">
                <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
                {{#if (eq userRole 'State Administrator')}}
                <li><a href="#What_you_should_already_know" class="nav-link">View Feedbacks</a></li>
                <li><a href="#JavaScript_and_Java" class="nav-link">Statistics</a></li>
                <li><a href="#Hello_world" class="nav-link">Manage Questions</a></li>
                {{/if}}
                {{#if (eq userRole 'District Administrator')}}
                <li><a href="#Variables" class="nav-link">View Feedbacks</a></li>
                <li><a href="#Declaring_variables" class="nav-link">Statistics</a></li>
                <li><a href="#Variable_scope" class="nav-link">Add Police Station</a></li>
                {{/if}}
                {{#if (eq userRole 'Police Inspector')}}
                <li><a href="#Global_variables" class="nav-link">View Feedbacks</a></li>
                <li><a href="#Constants" class="nav-link">Statistics</a></li>
                {{/if}}
                <li><a href="#Data_types" class="nav-link">Logout</a></li>
        </nav>
    </div>