<nav class="vertical-nav">
            <ul>
                <li class="menu-item active"><a href="/dashboard">Dashboard</a></li>
                {{#if (eq userRole 'State Administrator')}}
                    <li class="menu-item"><a href="/add-new-police-station">View Feedbacks</a></li>
                    <li class="menu-item"><a href="/add-new-police-station">Statistics</a></li>
                    <li class="menu-item"><a href="/add-new-police-station">Manage Questions</a></li>
                {{/if}}
                {{#if (eq userRole 'District Administrator')}}
                    <li class="menu-item"><a href="/view-feedbacks">View Feedbacks</a></li>
                    <li class="menu-item"><a href="/add-police-inspector">Statistics</a></li>
                    <li class="menu-item"><a href="/manage-feedback-questions">Add Police Station</a></li>
                {{/if}}
                {{#if (eq userRole 'Police Inspector')}}
                    <li class="menu-item"><a href="/view-feedback-for-station">View Feedbacks</a></li>
                    <li class="menu-item"><a href="/analyze-feedback">Statistics</a></li>
                {{/if}}
                <li class="menu-item"><a href="/logout">Logout</a></li>
            </ul>
        </nav>