<form action="/addPoliceStation" method="POST">
    <label for="station">Enter Station Name:</label>
    <input type="text" id="station" name="station">
    <button type="submit">Generate login credintials and download the qr code</button>
</form>