<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../public/css/dashboard.css">
</head>

<body>
    <div class="wrapper">
        {{>navbar userRole="State Administrator"}}
        <section class="content">
            <header>
                <h1>Welcome to the Dashboard</h1>
            </header>
            <section class="dashboard-section">
                <h2>Dashboard Section</h2>
                <p>This is the main dashboard section of your admin site. You can customize this section with any
                    relevant information, statistics, or widgets you want to display to the admin user.</p>
                <p>This is the main dashboard section of your admin site. You can customize this section with any
                    relevant information, statistics, or widgets you want to display to the admin user.</p>
                <p>This is the main dashboard section of your admin site. You can customize this section with any
                    relevant information, statistics, or widgets you want to display to the admin user.</p>
                <p>This is the main dashboard section of your admin site. You can customize this section with any
                    relevant information, statistics, or widgets you want to display to the admin user.</p>
                <!-- Add more content here -->
            </section>
        </section>

    </div>
</body>

</html>