<!DOCTYPE html>
<html>

<head>
    <title>Login Credentials</title>
    <style>
        /* Style the container for the PDF preview */


        /* Style the iframe */
        .pdf-iframe {
            width: 40%;
            height: 500px;
            border: none;
            /* Remove iframe border */
        }

        /* Style the PDF content within the iframe (set the default zoom level) */
        .pdf-content {
            zoom: 0.1;
            /* Set the default zoom level to 50% */
            transform-origin: 0 0;
            /* Adjust the zoom origin to the top-left corner */
        }
    </style>
</head>

<body>
    <h1>Login Credentials</h1>
    <p>Username: {{ username }}</p>
    <p>Password: {{ password }}</p>

    <!-- PDF Preview container with a styled iframe -->
    <div class="pdf-container">
        <iframe class="pdf-iframe" src="/getPDF" ></iframe>
    </div>

    <!-- Add a link or button to download the PDF -->
    <a href="/downloadPDF">Download PDF</a>
</body>

</html>