<!-- manage-questions.hbs -->
<h1>Manage Questions</h1>
<ul>
    {{#each questions}}
    <li>
        {{this.questionText}}
        {{#if (eq this.questionType 'multiple-choice')}}
        <ul>
            {{#each this.options}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </li>
    {{/each}}
</ul>
<div>
    <button onclick="addQuestion()">Add Question</button>
    <button onclick="deleteQuestion()">Delete Question</button>

</div>

<script>
    // Function to add a new question
    function addQuestion() {
        // Redirect to the page where administrators can add a new question
        window.location.href = '/manageQuestions/addQuestion';
    }

    // Function to delete a question (You can implement this functionality)
    function deleteQuestion(questionId) {
        window.location.href = '/manageQuestions/deleteQuestion';
        // Implement this function to allow administrators to delete the selected question
    }
</script>